body {
  background-color: rgb(200, 200, 200);
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 400%;
  margin: 0;
transform: scale(1.5);
transform-origin: top left;

}

#content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* header {
} */
option {
  size;
}
.collegeDropdown {
  padding-left: 10px;
  font-size: 30px;
}
.majorDropdown {
  padding-left: 10px;
  font-size: 30px;
}
.title {
  padding-left: 10px;
  font-size: 30px;
  margin-top: 10px;
  color: white;
  text-align: left;
}

h1 {
  padding-left: 10px;
  font-size: 30px;
  text-align: left;
}

h2 {
  padding-left: 10px;
  font-size: 30px;
  text-align: left;
}

p {
  padding-left: 10px;
  font-size: 20px;
  text-align: left;
}

.CollegeList {
  font-size: 20px;
  padding-left: 10px;
}

br {
  
}

footer {
  font-style: italic;
}
*/ ol {
  font-size: 20px;
  text-align: left;
}
nav {
  display: flex;
  gap: 50px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(96, 5, 121);
}
nav a {
  padding-left: 10px;
  color: white;
  font-size: 30px;
  padding: 10px 15px; /* box inside spacing */
  background-color: rgb(96, 5, 121);
  border-radius: 10px; /* rounded corners */
  transition: background 0.3s;
}

nav a:hover {
  background-color: rgb(139, 53, 197); /* box color */
}

.home {
  background-color: rgb(139, 53, 197); /* box color */
}

.MyColleges {
  background-color: rgb(139, 53, 197); /* box color */
}

.Schedule {
  background-color: rgb(139, 53, 197); /* box color */
}
